@import '~src/styles.scss';

.player-header {
  display: flex;
  justify-content: space-between;
  padding: 10px
}

.player-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.name {
  font-size: 50px;
  padding-bottom: 20px;
}

.subfield {
  font-size: 18px;
  padding-bottom: 5px;
}

.player-text {
  display: flex;
  flex-direction: column;
}

.team-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  a:hover {
    opacity: 50%;
  }

  span {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: black;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-radius: 5px;
}

.stats-table {
  width: 100%;
  border-top: solid 1px;

  th {
    font-size: 16px;
    background: rgb(222, 222, 222);
    font-weight: bold;
    border-bottom: solid 1px;
  }
}

.button {
  width: 150px;
  font-size: 16px;
}